.container {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .content-header {
    background-color: #282c34;
    min-height: 100vh;
    flex: 1;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .generation-options {
    margin: 15px 0;
  }

  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    width: 60%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    align-self: center;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .generation-options label {
    margin-right: 20px;
    font-size: 16px;
    color: black
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }

  input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
  }

  form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }